.navbar-logo {
    height: 75px; /* Adjust the height as needed */
    width: auto;
    filter: invert(1) brightness(2);
}

.navbar-toggler {
    background-color: red;
    height: 50px;
    width: 50px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.logoutMessage {
    text-align: center;
}

.logoutMessage > h1 {
    font-weight: 500;
    font-size: 60px;
}

.logoutMessage > p {
    font-size: 20px;
}

.App {
    text-align: center;
}